@import './icons.css';
@import './font.css';

:root {
    --primary:#00B050;
    --white: #fff;
    --gay-10: #B3B3B3;
    --gay-20: #737373;
    --gay-30: #282828;
    --gay-40: #181818;
    --gay-50: #121212;
    --gay-60: #000000;
}

body {
    background: var(--primary);
    font-family: Avenir;
}