.flexOrder {
    display: flex;
    gap: 5rem;
}

.flexOrder img {
    border-radius: 50%;
}

.flexOrder:nth-child(even) {
    border: 1px solid red;
    order: -1;
}

/* .flexOrder:nth-child(odd) img {
    order: 2;
} */